# ThingWorx
TWX_URL=http://localhost:8080/Thingworx
TWX_USER=Administrator
TWX_PASS=TwxAdm1nP@ssw0rd!

# Gitea
GITEA_API_URL=http://localhost:3000/api/v1
GITEA_USER=testadmin
GITEA_PASS=testadmin123
GITEA_REPO_URL=http://gitea:3000/testadmin/gitbackup-test.git
GITEA_REPO_NAME=gitbackup-test

# Test Fixtures
TEST_FILE_REPO=GitBackupTestRepository
TEST_THING_NAME=PuppeteerTestRepo
TEST_REPO_PATH=PuppeteerGitBackup

# Puppeteer
PUPPETEER_HEADLESS=true
PUPPETEER_SLOW_MO=0
TIMEOUT=30000
NAV_TIMEOUT=60000
SERVICE_TIMEOUT=45000
